# SET UP

In [9]:
# import necessary libraries
import numpy as np
import pandas as pd
import geopandas as gpd
pd.options.mode.chained_assignment = None  # default='warn'

# change working directory to project folder
import os
os.chdir('/Users/lacm/Documents/Stanford/*Capstone Research/Data')

# RACIAL DEMOGRAPHICS FOR SABs

Using Census or ACS data get cleaned 3rd graders' racial demographics for geographic areas, which are then used to find racial compositions of SABS

<b> Data source and geographic level for each school year of SABS data</b>:
- SY 1999-2000: 2000 Census, block-level (3rd grade counts derrived from counts of people aged 5-9) 
- SY 2009-2010: 2010 Census, school attendance boundary level (3rd grade counts derrived from counts of people aged 5-9)
- SY 2010-2011: 2009-2013 American Community Survey (ACS), block-group-level (3rd grade counts listed explicitly)
- SY 2011-2012: 2010-2014 American Community Survey (ACS), block-group-level (3rd grade counts listed explicitly)
- SY 2013-2014: 2012-2016 American Community Survey (ACS), block-group-level (3rd grade counts listed explicitly)
- SY 2015-2016: ??

<b>SCHOOL YEAR 1999-2000</b>

In [12]:
# import 1999-2000 census demographics data
demographics00_unclean = pd.read_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 1999-2000/Census Data/Raw/nhgis0028_ds147_2000_block.csv', header=0, usecols = ['GISJOIN', 'YEAR', 'STATEA', 'NAME', 'BLOCKA', 'FYM002', 'FYM025', 'FYO002', 'FYO025', 'FYO048', 'FYO071', 'FYO094', 'FYO117', 'FYO140', 'FYO163', 'FYO186', 'FYO209','FYO232', 'FYO255', 'FYO278', 'FYO301', 'FYQ002', 'FYQ025'])

In [14]:
demographics00 = demographics00_unclean

In [15]:
# clean census demographics data
demographics00 = demographics00[['GISJOIN', 'YEAR', 'STATEA', 'NAME', 'BLOCKA', 'FYM002', 'FYM025', 'FYO002', 'FYO025', 
                                'FYO048', 'FYO071', 'FYO094', 'FYO117', 'FYO140', 'FYO163', 'FYO186', 'FYO209', 
                                'FYO232', 'FYO255', 'FYO278', 'FYO301', 'FYQ002', 'FYQ025']]

# rename variables
demographics00 = demographics00.rename(columns={'FYO002' : 'white_male', 
                                                'FYO025' : 'white_female',
                                                'FYO048' : 'black_male',
                                                'FYO071' : 'black_female',
                                                'FYO094' : 'native_male',
                                                'FYO117' : 'native_female',
                                                'FYO140' : 'asian_male',
                                                'FYO163' : 'asian_female',
                                                'FYO186' : 'hawaiianpacific_male',
                                                'FYO209' : 'hawaiianpacific_female',
                                                'FYO232' : 'other_male',
                                                'FYO255' : 'other_female',
                                                'FYO278' : 'multiracial_male',
                                                'FYO301' : 'multiracial_female',
                                                'FYQ002' : 'latino_male',
                                                'FYQ025' : 'latino_female',
                                                'FYM002' : 'male_5_9',
                                                'FYM025' : 'female_5_9'})

# convert variable names to lowercase
demographics00.columns = demographics00.columns.str.lower()

# get total count of each race by adding together the male and female counts of each race
demographics00['white_5_9'] = demographics00['white_male'] + demographics00['white_female']
demographics00['black_5_9'] = demographics00['black_male'] + demographics00['black_female']
demographics00['native_5_9'] = demographics00['native_male'] + demographics00['native_female']
demographics00['asian_5_9'] = demographics00['asian_male'] + demographics00['asian_female']
demographics00['hawaiianpacific_5_9'] = demographics00['hawaiianpacific_male'] + demographics00['hawaiianpacific_female']
demographics00['other_5_9'] = demographics00['other_male'] + demographics00['other_female']
demographics00['multiracial_5_9'] = demographics00['multiracial_male'] + demographics00['multiracial_female']
demographics00['hispanic_latino_5_9'] = demographics00['latino_male'] + demographics00['latino_female']
demographics00['total_5_9'] = demographics00['male_5_9'] + demographics00['female_5_9']

# drop variables containing racial counts by sex
demographics00 = demographics00[['gisjoin', 
                                 'year',
                                 'statea',
                                 'name',
                                 'blocka',
                                 'white_5_9',
                                 'black_5_9',
                                 'native_5_9',
                                 'asian_5_9',
                                 'hawaiianpacific_5_9',
                                 'other_5_9',
                                 'multiracial_5_9',
                                 'hispanic_latino_5_9',
                                 'total_5_9']]

In [17]:
# export clean csv to documents
demographics00.to_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 1999-2000/Census Data/Clean/demographics2000.csv')

<b> SCHOOL YEAR 2009-10 </b>

In [95]:
# import 2009-10 census demographics data
demographics10_unclean = pd.read_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2009-10/Census Data by 3rd Grade SABs/Raw/nhgis0010_ds172_2010_sab_03.csv', header=0)
demographicstotal10_unclean = pd.read_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2009-10/Census Data by 3rd Grade SABs/Raw/nhgis0029_ds172_2010_sab_03.csv', header=0)

In [96]:
# store the raw version of the file as demographics10_unclean
demographics10 = demographics10_unclean

In [97]:
# clean census demographics data

# keep only columns for population aged 5-9
demographics10 = demographics10[['GISJOIN', 'YEAR', 'STATEA', 'NAME', 'SABINSA', 'SDELMA', 'SDSECA','SDUNIA',
                                 'H9A004', 'H9A028', 'H9B004', 'H9B028', 'H9C004', 'H9C028', 'H9D004', 'H9D028', 
                                 'H9E004', 'H9E028', 'H9F003', 'H9F028', 'H9G004', 'H9G028', 'H9H004', 'H9H028',
                                 'H9I004', 'H9I028']]

# rename variables
demographics10 = demographics10.rename(columns={'H9A004' : 'white_male', 
                                                'H9A028' : 'white_female',
                                                'H9B004' : 'black_male',
                                                'H9B028' : 'black_female',
                                                'H9C004' : 'native_male',
                                                'H9C028' : 'native_female',
                                                'H9D004' : 'asian_male',
                                                'H9D028' : 'asian_female',
                                                'H9E004' : 'hawaiianpacific_male',
                                                'H9E028' : 'hawaiianpacific_female',
                                                'H9F003' : 'other_male',
                                                'H9F028' : 'other_female',
                                                'H9G004' : 'multiracial_male',
                                                'H9G028' : 'multiracial_female',
                                                'H9H004' : 'latino_male',
                                                'H9H028' : 'latino_female',
                                                'H9I004' : 'white_nl_male',
                                                'H9I028' : 'white_nl_female'})

# convert variable names to lowercase
demographics10.columns = demographics10.columns.str.lower()

# get total count of each race by adding together the male and female counts of each race
demographics10['white_5_9'] = demographics10['white_male'] + demographics10['white_female']
demographics10['black_5_9'] = demographics10['black_male'] + demographics10['black_female']
demographics10['native_5_9'] = demographics10['native_male'] + demographics10['native_female']
demographics10['asian_5_9'] = demographics10['asian_male'] + demographics10['asian_female']
demographics10['hawaiianpacific_5_9'] = demographics10['hawaiianpacific_male'] + demographics10['hawaiianpacific_female']
demographics10['other_5_9'] = demographics10['other_male'] + demographics10['other_female']
demographics10['multiracial_5_9'] = demographics10['multiracial_male'] + demographics10['multiracial_female']
demographics10['hispanic_latino_5_9'] = demographics10['latino_male'] + demographics10['latino_female']
demographics10['white_nhl_5_9'] = demographics10['white_nl_male'] + demographics10['white_nl_female']

# drop variables containing racial counts by sex
demographics10 = demographics10[['gisjoin', 
                                 'year',
                                 'statea',
                                 'name',
                                 'sabinsa',
                                 'sdelma',
                                 'sdseca',
                                 'sdunia',
                                 'white_5_9',
                                 'black_5_9',
                                 'native_5_9',
                                 'asian_5_9',
                                 'hawaiianpacific_5_9',
                                 'other_5_9',
                                 'multiracial_5_9',
                                 'hispanic_latino_5_9',
                                 'white_nhl_5_9']]

In [98]:
demographicstotal10 = demographicstotal10_unclean
demographicstotal10

,GISJOIN,YEAR,STUSAB,REGIONA,DIVISIONA,STATEA,COUNTYA,COUSUBA,COUSUBCC,PLACEA,...,H76040,H76041,H76042,H76043,H76044,H76045,H76046,H76047,H76048,H76049
0,G0100005000203,2010,AL,NaN,NaN,1,NaN,NaN,NaN,NaN,...,569,544,244,319,172,287,377,289,251,251
1,G0100012000203,2010,AL,NaN,NaN,1,NaN,NaN,NaN,NaN,...,270,294,109,170,114,164,199,200,152,152
2,G0100060000103,2010,AL,NaN,NaN,1,NaN,NaN,NaN,NaN,...,314,316,115,162,115,147,222,209,163,220
3,G0100100000203,2010,AL,NaN,NaN,1,NaN,NaN,NaN,NaN,...,308,238,97,166,90,158,234,200,135,125
4,G0100270000103,2010,AL,NaN,NaN,1,NaN,NaN,NaN,NaN,...,289,233,85,110,57,102,96,69,66,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21616,G5604380000103,2010,WY,NaN,NaN,56,NaN,NaN,NaN,NaN,...,33,40,14,22,10,17,16,15,9,8
21617,G5604500000203,2010,WY,NaN,NaN,56,NaN,NaN,NaN,NaN,...,144,124,38,50,23,31,33,22,24,13
21618,G5605700000103,2010,WY,NaN,NaN,56,NaN,NaN,NaN,NaN,...,70,53,23,34,10,22,25,19,14,10
21619,G5605820000103,2010,WY,NaN,NaN,56,NaN,NaN,NaN,NaN,...,29,34,11,19,12,19,25,14,8,10
21620,G5606090000103,2010,WY,NaN,NaN,56,NaN,NaN,NaN,NaN,...,72,51,9,20,18,15,31,19,22,29

In [99]:
# keep only columns for population aged 5-9
demographicstotal10 = demographicstotal10[['GISJOIN', 'YEAR', 'STATEA', 'NAME', 'SABINSA', 'SDELMA', 'SDSECA',
                                           'SDUNIA', 'H76004', 'H76028']]
                                
# rename variables
demographicstotal10 = demographicstotal10.rename(columns={'H76004' : 'male_5_9',
                                                         'H76028' : 'female_5_9'})

# convert variable names to lowercase
demographicstotal10.columns = demographicstotal10.columns.str.lower()

# get total count of each race by adding together the male and female counts
demographicstotal10['total_5_9'] = demographicstotal10['male_5_9'] + demographicstotal10['female_5_9']

demographicstotal10 = demographicstotal10[['gisjoin', 
                                 'year',
                                 'statea',
                                 'name',
                                 'sabinsa',
                                 'sdelma',
                                 'sdseca',
                                 'sdunia',
                                 'total_5_9']]

In [101]:
# merge demographic files
demographics10 = pd.merge(demographics10, demographicstotal10, how='left', on=['gisjoin', 'year', 'statea', 'name', 'sabinsa', 
                                                              'sdelma', 'sdseca', 'sdunia'])

In [102]:
# export clean csv to documents
demographics10.to_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2009-10/Census Data by 3rd Grade SABs/Clean/demographics10.csv')

<b>SCHOOL YEAR 2010-11</b>

In [2]:
# import 2010-11 census demographics data
demographics11_unclean = pd.read_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2010-11/Census Data/Raw/nhgis0015_ds201_20135_blck_grp.csv', header=0, encoding='latin1', engine='python')
demographicstotal11_unclean = pd.read_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2010-11/Census Data/Raw/nhgis0023_ds201_20135_blck_grp.csv', header=0, encoding='latin1', engine='python')

In [3]:
# store the raw version of the file as demographics11_unclean
demographics11 = demographics11_unclean
demographics11

,GISJOIN,YEAR,STUSAB,REGIONA,DIVISIONA,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,...,UGQM010,UGQM011,UGQM012,UGQM013,UGQM014,UGQM015,UGQM016,UGQM017,UGQM018,UGQM019
0,G01000100201001,2009-2013,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,11,11,11,11,11,11,11,11,11,11
1,G01000100201002,2009-2013,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,11,11,11,11,11,11,11,11,11,11
2,G01000100202001,2009-2013,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,11,11,11,11,11,11,11,37,11,38
3,G01000100202002,2009-2013,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,11,11,11,11,11,11,11,11,11,5
4,G01000100203001,2009-2013,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,11,11,11,11,11,11,11,11,11,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220328,G72015307506011,2009-2013,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,13,48,13,41,13,29,45,67,13,278
220329,G72015307506012,2009-2013,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,78,54,42,52,54,25,34,221,23,393
220330,G72015307506013,2009-2013,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,13,39,19,48,33,29,58,84,19,167
220331,G72015307506021,2009-2013,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,37,19,77,41,13,22,36,61,34,371
220332,G72015307506022,2009-2013,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,13,13,13,45,13,13,13,69,13,308

In [4]:
demographics11 = demographics11[['GISJOIN', 'YEAR', 'STATE', 'BLKGRPA', 'GEOID', 'UGIE007', 'UGJE007', 'UGKE007',
                                 'UGLE007', 'UGME007', 'UGNE007', 'UGOE007', 'UGPE007', 'UGQE007']]

# rename variables
demographics11 = demographics11.rename(columns={'UGIE007' : 'white_g3', 
                                                'UGJE007' : 'black_g3',
                                                'UGKE007' : 'native_g3',
                                                'UGLE007' : 'asian_g3',
                                                'UGME007' : 'hawaiianpacific_g3',
                                                'UGNE007' : 'other_g3',
                                                'UGOE007' : 'multiracial_g3',
                                                'UGPE007' : 'white_nhl_g3',
                                                'UGQE007' : 'hispanic_latino_g3'})

# convert variable names to lowercase
demographics11.columns = demographics11.columns.str.lower()

In [5]:
demographicstotal11 = demographicstotal11_unclean

In [6]:
demographicstotal11 = demographicstotal11[['GISJOIN', 'YEAR', 'STATE', 'BLKGRPA', 'GEOID', 'UGHE007']]

# rename variables
demographicstotal11 = demographicstotal11.rename(columns={'UGHE007' : 'total_g3'})

# convert variable names to lowercase
demographicstotal11.columns = demographicstotal11.columns.str.lower()

In [7]:
# merge demographic files
demographics11 = pd.merge(demographics11, demographicstotal11, how='left', on=['gisjoin', 'year', 'state', 'blkgrpa', 'geoid'])

In [12]:
demographics11

,gisjoin,year,state,blkgrpa,geoid,white_g3,black_g3,native_g3,asian_g3,hawaiianpacific_g3,other_g3,multiracial_g3,white_nhl_g3,hispanic_latino_g3,total_g3
0,G01000100201001,2009-2013,Alabama,1,15000US010010201001,10,0,0,0,0,0,0,10,0,10
1,G01000100201002,2009-2013,Alabama,2,15000US010010201002,8,0,0,0,0,0,5,8,0,13
2,G01000100202001,2009-2013,Alabama,1,15000US010010202001,5,0,0,0,0,0,0,5,0,5
3,G01000100202002,2009-2013,Alabama,2,15000US010010202002,5,5,0,0,0,0,0,5,0,10
4,G01000100203001,2009-2013,Alabama,1,15000US010010203001,42,5,0,0,0,0,0,25,17,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220328,G72015307506011,2009-2013,Puerto Rico,1,15000US721537506011,43,0,0,0,0,0,0,0,43,43
220329,G72015307506012,2009-2013,Puerto Rico,2,15000US721537506012,30,0,0,0,0,0,0,0,30,30
220330,G72015307506013,2009-2013,Puerto Rico,3,15000US721537506013,14,0,0,0,0,0,0,0,14,14
220331,G72015307506021,2009-2013,Puerto Rico,1,15000US721537506021,54,0,0,0,0,0,0,0,54,54
220332,G72015307506022,2009-2013,Puerto Rico,2,15000US721537506022,0,0,0,0,0,0,0,0,0,0

In [10]:
census2011 = gpd.read_file('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2010-11/Census Data/Block Groups/US_blck_grp_2013.shp')

In [13]:
census2011 = pd.merge(census2011, demographics11, how='left', left_on='GISJOIN', right_on='gisjoin')

In [22]:
census2011.iloc[:4, 12:20]

,GISJOIN,STUSPS,SHAPE_AREA,SHAPE_LEN,geometry,gisjoin,year,state
0,G15000709400002,HI,3.416618e+06,12097.548424,"POLYGON ((-6192320.142 442622.884, -6192326.65...",G15000709400002,2009-2013,Hawaii
1,G15000700401034,HI,3.290629e+06,12539.217527,"POLYGON ((-6202242.084 461871.173, -6202273.80...",G15000700401034,2009-2013,Hawaii
2,G15000300086061,HI,1.697742e+06,7263.110101,"POLYGON ((-6141982.674 292779.315, -6142035.68...",G15000300086061,2009-2013,Hawaii
3,G15000300096033,HI,3.875186e+05,2771.220396,"POLYGON ((-6145928.633 308487.934, -6145926.46...",G15000300096033,2009-2013,Hawaii

In [15]:
census2011.to_file('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2010-11/Census Data/Clean/2010-11 Census Blocks with Demographics.shp',
                       driver='ESRI Shapefile')

/var/folders/f_/y82bl01510z6_6b9mz3cg6br0000gn/T/ipykernel_1242/4084259343.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  census2011.to_file('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2010-11/Census Data/Clean/2010-11 Census Blocks with Demographics.shp',

In [14]:
census2011

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,...,white_g3,black_g3,native_g3,asian_g3,hawaiianpacific_g3,other_g3,multiracial_g3,white_nhl_g3,hispanic_latino_g3,total_g3
0,15,007,940000,2,150079400002,Block Group 2,G5030,S,3371084.0,1299259.0,...,0,0,0,0,13,0,5,0,10,18
1,15,007,040103,4,150070401034,Block Group 4,G5030,S,3134704.0,1399829.0,...,17,0,0,0,0,0,0,17,0,17
2,15,003,008606,1,150030086061,Block Group 1,G5030,S,1697742.0,0.0,...,0,0,0,33,0,0,0,0,15,33
3,15,003,009603,3,150030096033,Block Group 3,G5030,S,367491.0,20028.0,...,0,0,0,0,13,0,0,0,0,13
4,15,003,009507,2,150030095072,Block Group 2,G5030,S,385259.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219765,36,087,010101,3,360870101013,Block Group 3,G5030,S,6326131.0,104871.0,...,0,0,0,14,0,0,0,0,0,14
219766,42,069,110401,2,420691104012,Block Group 2,G5030,S,2787671.0,0.0,...,37,0,0,0,0,0,0,35,2,37
219767,42,069,111800,2,420691118002,Block Group 2,G5030,S,17060424.0,328273.0,...,40,0,0,0,0,0,0,40,0,40
219768,01,073,011302,3,010730113023,Block Group 3,G5030,S,14066590.0,28998.0,...,30,0,0,0,0,0,0,30,0,30
219769,01,043,965402,2,010439654022,Block Group 2,G5030,S,12741768.0,82622.0,...,22,0,0,0,0,0,0,16,6,22

In [8]:
# export clean csv to documents
demographics11.to_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2010-11/Census Data/Clean/demographics11.csv')

<b>SCHOOL YEAR 2011-12</b>

In [12]:
# import 2011-12 census demographics data
demographics12_unclean = pd.read_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2011-12/Census Data/Minnesota Census Block Group Demographics/Raw/nhgis0022_ds206_20145_blck_grp.csv', header=0)
demographicstotal12_unclean = pd.read_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2011-12/Census Data/Minnesota Census Block Group Demographics/Raw/nhgis0024_ds206_20145_blck_grp.csv', header=0)

In [13]:
# store the raw version of the file as demographics12_unclean
demographics12 = demographics12_unclean
demographics12

,GISJOIN,YEAR,STUSAB,STATE,STATEA,COUNTY,COUNTYA,TRACTA,BLKGRPA,GEOID,...,ABC2M010,ABC2M011,ABC2M012,ABC2M013,ABC2M014,ABC2M015,ABC2M016,ABC2M017,ABC2M018,ABC2M019
0,G27000107701001,2010-2014,MN,Minnesota,27,Aitkin County,1,770100,1,15000US270017701001,...,9,9,9,9,2,9,9,9,9,4
1,G27000107701002,2010-2014,MN,Minnesota,27,Aitkin County,1,770100,2,15000US270017701002,...,3,9,9,9,9,9,9,9,9,5
2,G27000107701003,2010-2014,MN,Minnesota,27,Aitkin County,1,770100,3,15000US270017701003,...,9,9,9,9,9,9,9,9,9,3
3,G27000107702001,2010-2014,MN,Minnesota,27,Aitkin County,1,770200,1,15000US270017702001,...,9,9,9,9,9,9,9,11,9,9
4,G27000107702002,2010-2014,MN,Minnesota,27,Aitkin County,1,770200,2,15000US270017702002,...,9,9,9,9,9,9,9,9,9,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4106,G27017309703002,2010-2014,MN,Minnesota,27,Yellow Medicine County,173,970300,2,15000US271739703002,...,9,9,9,9,2,2,9,9,9,5
4107,G27017309703003,2010-2014,MN,Minnesota,27,Yellow Medicine County,173,970300,3,15000US271739703003,...,9,9,9,9,9,9,9,9,9,5
4108,G27017309704001,2010-2014,MN,Minnesota,27,Yellow Medicine County,173,970400,1,15000US271739704001,...,9,4,3,2,9,3,2,6,9,27
4109,G27017309704002,2010-2014,MN,Minnesota,27,Yellow Medicine County,173,970400,2,15000US271739704002,...,9,9,9,9,9,9,2,9,9,5
4110,G27017309704003,2010-2014,MN,Minnesota,27,Yellow Medicine County,173,970400,3,15000US271739704003,...,9,9,9,9,9,9,9,9,9,2

In [15]:
demographics12 = demographics12[['GISJOIN', 'YEAR', 'STATE', 'BLKGRPA', 'GEOID', 'ABCUE007', 'ABCVE007', 'ABCWE007', 
                                 'ABCXE007', 'ABCYE007', 'ABCZE007', 'ABC0E007', 'ABC1E007', 'ABC2E007']]

# rename variables
demographics12 = demographics12.rename(columns={'ABCUE007' : 'white_g3', 
                                                'ABCVE007' : 'black_g3',
                                                'ABCWE007' : 'native_g3',
                                                'ABCXE007' : 'asian_g3',
                                                'ABCYE007' : 'hawaiianpacific_g3',
                                                'ABCZE007' : 'other_g3',
                                                'ABC0E007' : 'multiracial_g3',
                                                'ABC1E007' : 'white_nhl_g3',
                                                'ABC2E007' : 'hispanic_latino_g3'})

# convert variable names to lowercase
demographics12.columns = demographics12.columns.str.lower()

KeyError: "None of [Index(['GISJOIN', 'YEAR', 'STATE', 'BLKGRPA', 'GEOID', 'ABCUE007', 'ABCVE007',\n       'ABCWE007', 'ABCXE007', 'ABCYE007', 'ABCZE007', 'ABC0E007', 'ABC1E007',\n       'ABC2E007'],\n      dtype='object')] are in the [columns]"

In [16]:
demographicstotal12 = demographicstotal12_unclean

In [17]:
demographicstotal12 = demographicstotal12[['GISJOIN', 'YEAR', 'STATE', 'BLKGRPA', 'GEOID', 'ABCTE007']]

# rename variables
demographicstotal12 = demographicstotal12.rename(columns={'ABCTE007' : 'total_g3'})

# convert variable names to lowercase
demographicstotal12.columns = demographicstotal12.columns.str.lower()

In [18]:
# merge demographic files
demographics12 = pd.merge(demographics12, demographicstotal12, how='left', on=['gisjoin', 'year', 'state', 'blkgrpa', 'geoid'])

In [19]:
# export clean csv to documents
demographics12.to_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2011-12/Census Data/Minnesota Census Block Group Demographics/Clean/demographics12.csv')

<b>SCHOOL YEAR 2013-14</b>

In [57]:
# import 2013-14 census demographics data
demographics14_unclean = pd.read_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2013-14/Census Data/Raw/nhgis0019_ds225_20165_blck_grp.csv', header=0, encoding='latin1', engine='python')
demographicstotal14_unclean = pd.read_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2013-14/Census Data/Raw/nhgis0025_ds225_20165_blck_grp.csv', header=0, encoding='latin1', engine='python')

In [58]:
demographics14 = demographics14_unclean
demographics14

,GISJOIN,YEAR,STUSAB,REGIONA,DIVISIONA,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,...,AF4MM010,AF4MM011,AF4MM012,AF4MM013,AF4MM014,AF4MM015,AF4MM016,AF4MM017,AF4MM018,AF4MM019
0,G01000100201001,2012-2016,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,11,11,11,11,11,11,11,11,11,21
1,G01000100201002,2012-2016,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,11,11,11,11,21,11,11,11,11,36
2,G01000100202001,2012-2016,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,11,11,11,11,11,11,11,11,11,20
3,G01000100202002,2012-2016,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,11,11,11,11,11,11,11,18,11,7
4,G01000100203001,2012-2016,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,11,11,11,11,11,11,11,11,11,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220328,G72015307506011,2012-2016,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,13,55,13,55,13,13,13,60,13,240
220329,G72015307506012,2012-2016,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,75,25,13,40,55,22,21,154,25,340
220330,G72015307506013,2012-2016,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,56,68,13,35,45,30,28,74,15,299
220331,G72015307506021,2012-2016,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,27,13,68,26,13,16,24,62,13,396
220332,G72015307506022,2012-2016,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,13,13,13,13,13,13,35,47,10,338

In [59]:
demographics14 = demographics14[['GISJOIN', 'YEAR', 'STATE', 'BLKGRPA', 'GEOID', 'AF4EE007', 'AF4FE007', 'AF4GE007', 
                                'AF4HE007', 'AF4IE007', 'AF4JE007', 'AF4KE007', 'AF4LE007', 'AF4ME007']]

# rename variables
demographics14 = demographics14.rename(columns={'AF4EE007' : 'white_g3', 
                                                'AF4FE007' : 'black_g3',
                                                'AF4GE007' : 'native_g3',
                                                'AF4HE007' : 'asian_g3',
                                                'AF4IE007' : 'hawaiianpacific_g3',
                                                'AF4JE007' : 'other_g3',
                                                'AF4KE007' : 'multiracial_g3',
                                                'AF4LE007' : 'white_nhl_g3',
                                                'AF4ME007' : 'hispanic_latino_g3'})

# convert variable names to lowercase
demographics14.columns = demographics14.columns.str.lower()

In [61]:
demographicstotal14 = demographicstotal14_unclean
demographicstotal14

,GISJOIN,YEAR,STUSAB,REGIONA,DIVISIONA,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,...,AF4DM010,AF4DM011,AF4DM012,AF4DM013,AF4DM014,AF4DM015,AF4DM016,AF4DM017,AF4DM018,AF4DM019
0,G01000100201001,2012-2016,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,32,11,8,11,37,11,11,10,11,131
1,G01000100201002,2012-2016,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,24,10,22,26,39,33,11,25,13,170
2,G01000100202001,2012-2016,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,32,10,11,24,8,27,22,39,11,157
3,G01000100202002,2012-2016,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,11,26,15,11,26,17,11,37,16,167
4,G01000100203001,2012-2016,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,35,11,29,15,39,37,16,28,37,240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220328,G72015307506011,2012-2016,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,13,55,13,55,13,13,13,60,13,240
220329,G72015307506012,2012-2016,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,75,25,13,40,55,22,21,154,25,340
220330,G72015307506013,2012-2016,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,56,68,13,35,45,30,28,74,15,301
220331,G72015307506021,2012-2016,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,27,13,68,26,13,16,24,62,13,409
220332,G72015307506022,2012-2016,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,13,13,13,13,13,13,35,47,10,338

In [62]:
demographicstotal14 = demographicstotal14[['GISJOIN', 'YEAR', 'STATE', 'BLKGRPA', 'GEOID', 'AF4DE007']]

# rename variables
demographicstotal14 = demographicstotal14.rename(columns={'AF4DE007' : 'total_g3'})

# convert variable names to lowercase
demographicstotal14.columns = demographicstotal14.columns.str.lower()

In [63]:
demographicstotal14

,gisjoin,year,state,blkgrpa,geoid,total_g3
0,G01000100201001,2012-2016,Alabama,1,15000US010010201001,37
1,G01000100201002,2012-2016,Alabama,2,15000US010010201002,4
2,G01000100202001,2012-2016,Alabama,1,15000US010010202001,0
3,G01000100202002,2012-2016,Alabama,2,15000US010010202002,20
4,G01000100203001,2012-2016,Alabama,1,15000US010010203001,101
...,...,...,...,...,...,...
220328,G72015307506011,2012-2016,Puerto Rico,1,15000US721537506011,27
220329,G72015307506012,2012-2016,Puerto Rico,2,15000US721537506012,29
220330,G72015307506013,2012-2016,Puerto Rico,3,15000US721537506013,15
220331,G72015307506021,2012-2016,Puerto Rico,1,15000US721537506021,0
220332,G72015307506022,2012-2016,Puerto Rico,2,15000US721537506022,0

In [65]:
# merge demographic files
demographics14 = pd.merge(demographics14, demographicstotal14, how='left', on=['gisjoin', 'year', 'state', 'blkgrpa', 'geoid'])

In [66]:
# export clean csv to documents
demographics14.to_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2013-14/Census Data/Clean/demographics14.csv')

<b>SCHOOL YEAR 2015-16</b>

In [67]:
# import 2015-16 census demographics data
demographics16_unclean = pd.read_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2015-16/Census Data/Raw/nhgis0020_ds239_20185_blck_grp.csv', header=0, encoding='latin1', engine='python')
demographicstotal16_unclean = pd.read_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2015-16/Census Data/Raw/nhgis0026_ds239_20185_blck_grp.csv', header=0, encoding='latin1', engine='python')

In [68]:
demographics16 = demographics16_unclean
demographics16

,GISJOIN,YEAR,STUSAB,REGIONA,DIVISIONA,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,...,AJYNM010,AJYNM011,AJYNM012,AJYNM013,AJYNM014,AJYNM015,AJYNM016,AJYNM017,AJYNM018,AJYNM019
0,G01000100201001,2014-2018,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,12,12,12,12,12,12,12,12,12,16
1,G01000100201002,2014-2018,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,12,12,12,12,22,12,12,12,12,68
2,G01000100202001,2014-2018,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,12,12,12,12,12,12,12,12,12,36
3,G01000100202002,2014-2018,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,12,12,12,12,12,12,12,15,12,12
4,G01000100203001,2014-2018,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,12,12,12,12,12,12,12,12,12,221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220328,G72015307506011,2014-2018,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,14,14,14,14,14,14,14,54,14,208
220329,G72015307506012,2014-2018,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,14,14,43,16,40,14,14,171,23,325
220330,G72015307506013,2014-2018,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,100,61,14,34,44,14,49,102,14,267
220331,G72015307506021,2014-2018,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,29,14,26,14,20,14,36,33,14,422
220332,G72015307506022,2014-2018,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,14,14,14,44,14,43,34,41,11,310

In [69]:
demographics16 = demographics16[['GISJOIN', 'YEAR', 'STATE', 'BLKGRPA', 'GEOID', 'AJYFE007', 'AJYGE007', 'AJYHE007', 
                                'AJYIE007', 'AJYJE007', 'AJYKE007', 'AJYLE007', 'AJYME007', 'AJYNE007']]

# rename variables
demographics16 = demographics16.rename(columns={'AJYFE007' : 'white_g3', 
                                                'AJYGE007' : 'black_g3',
                                                'AJYHE007' : 'native_g3',
                                                'AJYIE007' : 'asian_g3',
                                                'AJYJE007' : 'hawaiianpacific_g3',
                                                'AJYKE007' : 'other_g3',
                                                'AJYLE007' : 'multiracial_g3',
                                                'AJYME007' : 'white_nhl_g3',
                                                'AJYNE007' : 'hispanic_latino_g3'})

# convert variable names to lowercase
demographics16.columns = demographics16.columns.str.lower()

In [71]:
demographicstotal16 = demographicstotal16_unclean
demographicstotal16

,GISJOIN,YEAR,STUSAB,REGIONA,DIVISIONA,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,...,AJYEM010,AJYEM011,AJYEM012,AJYEM013,AJYEM014,AJYEM015,AJYEM016,AJYEM017,AJYEM018,AJYEM019
0,G01000100201001,2014-2018,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,21,12,10,12,27,12,25,82,9,93
1,G01000100201002,2014-2018,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,33,13,12,28,40,15,12,21,18,190
2,G01000100202001,2014-2018,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,17,12,14,25,32,12,33,28,12,140
3,G01000100202002,2014-2018,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,12,34,17,12,17,20,12,21,15,158
4,G01000100203001,2014-2018,AL,NaN,NaN,Alabama,1,Autauga County,1,NaN,...,31,12,29,36,30,6,14,19,41,250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220328,G72015307506011,2014-2018,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,14,14,14,14,14,14,14,54,14,208
220329,G72015307506012,2014-2018,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,14,14,43,16,40,14,14,171,23,325
220330,G72015307506013,2014-2018,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,100,61,14,34,44,14,49,102,14,269
220331,G72015307506021,2014-2018,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,29,14,26,14,20,14,36,33,14,422
220332,G72015307506022,2014-2018,PR,NaN,NaN,Puerto Rico,72,Yauco Municipio,153,NaN,...,14,14,14,44,14,43,34,41,11,310

In [72]:
demographicstotal16 = demographicstotal16[['GISJOIN', 'YEAR', 'STATE', 'BLKGRPA', 'GEOID', 'AJYEE007']]

# rename variables
demographicstotal16 = demographicstotal16.rename(columns={'AJYEE007' : 'total_g3'})

# convert variable names to lowercase
demographicstotal16.columns = demographicstotal16.columns.str.lower()

In [73]:
# merge demographic files
demographics16 = pd.merge(demographics16, demographicstotal16, how='left', on=['gisjoin', 'year', 'state', 'blkgrpa', 'geoid'])

In [75]:
# export clean csv to documents
demographics16.to_csv('/Users/lacm/Documents/Stanford/*Capstone Research/Data/SY 2015-16/Census Data/Clean/demographics16.csv')